/* loading */
.loading {
  content: "";
  @apply absolute top-0 left-0 w-2/3 h-1 bg-secondary-700 overflow-hidden;
  animation: loading 2s infinite linear;
}

@keyframes loading {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

/* input */
input,
textarea {
  @apply focus-visible:!ring-0 focus-visible:!ring-offset-0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f3f3f5 inset !important;
  border-radius: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* flatpicker */
.flatpickr-input[readonly] {
  background-image: url("../../public/assets/images/icons/icon-calender-line.svg");
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 20px;
  background-color: white;
  padding-left: 38px;
}

.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-weekdays,
span.flatpickr-weekday {
  @apply !bg-secondary !text-white !font-normal;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply !fill-black;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.selected.endRange {
  @apply !bg-secondary
    !border-secondary shadow-secondary;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 rgb(0 145 110) !important;
}

/* modal */
.modal-container {
  @apply ring-offset-transparent rounded-10 sm:rounded-lg w-[90%] md:w-full;
}

.modal-container > button {
  @apply border border-error bg-red-50 rounded-full p-[3px] text-error opacity-50 outline-0 !ring-0 !ring-offset-0 !ring-transparent;
}

/* Custom class for invisible scrollbar that becomes visible on hover */
.scroll-hover::-webkit-scrollbar {
  @apply w-1.5;
}

.scroll-hover::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb invisible by default */
}

.scroll-hover::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track invisible by default */
}

/* Show the scrollbar when the container is hovered */
.scroll-hover:hover::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-5;
}

.scroll-hover:hover::-webkit-scrollbar-track {
  @apply bg-primary-50;
}
