@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));
@custom-variant hover (&:hover);

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  @apply w-full bg-[#18191B] font-sans text-base font-normal text-[#F4F4F5];
}

.page_wrapper {
  @apply container mx-auto px-7.5 pt-13 pb-16 md:pt-[154px] min-h-[calc(100vh-100px)];
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

body::-webkit-scrollbar-thumb {
  background: #e74c4c;
  border-radius: 0;
}

body::-webkit-scrollbar-thumb:hover {
  background: #d33333;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.product-specification-wrapper figure.table {
  width: 100% !important;
}

@media (min-width: 425px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
}

@media (min-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1450px) {
  .container {
    max-width: 1400px;
    padding: 0 0px;
  }
}

@media (min-width: 1599px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1699px) {
  .container {
    max-width: 1540px;
  }
}
@layer base {
  :root {
    --warning: #ffa113;
    --error: #ff0102;
    --success: #00b15b;

    --white-100: #f9f9f9;
    --primary: #ea763a;

    --secondary: #f4f4f5;

    /* this css for shadcn provide */
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary-foreground: hsl(210 40% 98%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.625rem;
    --spacing: 0.25rem;
  }

  .dark {
    --white-100: #f9f9f9;
    --primary: #0a0020;
    --primary-700: #544d63;
    --primary-300: #b5b2bc;
    --primary-200: #ceccd2;
    --primary-100: #e6e5e9;
    --primary-50: #f3f2f4;
    --secondary: #ff3135;
    --secondary-700: #ff6f72;
    --secondary-300: #ffc1c2;
    --secondary-200: #ffd6d7;
    --secondary-100: #ffeaeb;
    --secondary-50: #fff5f5;

    /* this css for shadcn provide */
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    /* --primary: hsl(210 40% 98%); */
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    /* --secondary: hsl(217.2 32.6% 17.5%); */
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }
}
@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"].appearance-none {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-scrollbar::-webkit-scrollbar,
  body::-webkit-scrollbar {
    @apply w-1.5;
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    @apply rounded-5 bg-secondary;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .white-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
