.image-hover {
  position: relative;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}

.image-hover.active {
  & > img:first-of-type {
    opacity: 0;
  }

  & > img:last-of-type {
    opacity: 1;
  }
}

.image-hover > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-hover {
  & > img:first-child {
    opacity: 1;
  }

  & > img:last-child {
    opacity: 0;
  }
}
